
@import "https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&amp;display=swap";@font-face{font-family:gilroybold;src:url(../fonts/GilroyBold.html);src:url(../fonts/GilroyBold.html) format("embedded-opentype"),url(../fonts/GilroyBold-2.html) format("woff2"),url(../fonts/GilroyBold-3.html) format("woff"),url(../fonts/GilroyBold-4.html) format("truetype"),url(../fonts/GilroyBold.svg#GilroyBold) format("svg")}body{font-family:karla,sans-serif;font-weight:400;font-style:normal;overflow-x:hidden;color:#81a3bb}
.bnr-btn
{
    
    margin: auto;
    
    
}
.bnr-cnt-us {
    border-radius: 6px;
    background-color: #0c59db;
    border: none;
    color: #FFFFFF;
    height: 40px;
    width: 100px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .bnr-cnt-us span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: karla,sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;


  }
  
  .bnr-cnt-us span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .bnr-cnt-us:hover span {
    padding-right: 25px;
  }
  
  .bnr-cnt-us:hover span:after {
    opacity: 1;
    right: 0;
  }
  /*----------------------------------------*/




.box-cnt-us {
    border-radius: 6px;
    background-color: #0c59db;
    border: none;
    color: #FFFFFF;
    height: 40px;
    width: 100px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .box-cnt-us span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: karla,sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;


  }
  
  .box-cnt-us span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .box-cnt-us:hover span {
    padding-right: 25px;
  }
  
  .box-cnt-us:hover span:after {
    opacity: 1;
    right: 0;
  }


  
.ieeesb {
  font-family: gilroybold;
    font-weight: 400;
    color: #002249;
    margin: 0;
    font-size: 16px;
}

/*xcbvkhvhdf*/



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active1, .dot:hover {
  background-color: #717171;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}